<div class="card">
    <div class="card-header bg-danger text-light">
      <h5>Deaths</h5>
    </div>
    <div class="card-body">
      <h6 class="card-title">New Deaths : <span class="text-danger">
          {{newDeaths}}</span></h6>
      <hr>
      <h6 class="card-title">Total Confirmed Deaths : <span class="text-danger">
          {{totalDeaths}}</span></h6>
      <!-- <button class="btn btn-primary">Change</button> -->
      <!-- <input type="text" class="form-control mb-4"> -->
    </div>
  </div>