<div class="card">
    <div class="card-header bg-info text-light">
      <h5>Confirmed Cases<strong class="badge rounded-pill text-bg-dark">{{date | date }}</strong> </h5>
    </div>
    <div class="card-body">
      <h6 class="card-title">New Confirmed Cases : <span class="text-primary">
          {{ newConfirmed }}</span></h6>
          <hr>
      <h6 class="card-title">Total Confirmed Cases : <span class="text-primary">
          {{ totalConfirmed }}</span></h6>
      <!-- <button class="btn btn-primary">Change</button> -->
      <!-- <input type="text" class="form-control mb-4"> -->
    </div>
  </div>
