.total{
    background-color: rgb(131, 190, 131);
}

h1{
    background-color: rgb(131, 190, 131);
    text-align: center;
    color:  rgb(56, 10,32);
    font-weight:bolder;
    font-family: "Lucida Console", "Courier New", monospace;
}