<div class="card">
    <div class="card-header bg-success text-light">
      <h5>Recoverd</h5>
    </div>
    <div class="card-body">
      <h6 class="card-title">New Confirmed Cases : <span class="text-success">
          {{newRecovered}}</span></h6>
          <hr>
      <h6 class="card-title">Total Confirmed Cases : <span class="text-success">
          {{totalRecovered}}</span></h6>
      <!-- <button class="btn btn-primary">Change</button> -->
      <!-- <input type="text" class="form-control mb-4"> -->
    </div>
  </div>